*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:cornsilk;}

.Display-randomNum{
    padding: 50px;
    margin:0px 20%;
}

button{
    display: block;
    padding: 5px;
    margin:0px 0px 30px 0px;
    background-color: cyan;
}

input{
    display: block;
    padding: 5px;
    margin: 5px 0px;
    border-radius: 5px;
    
}

input[id="powerof"],
input[id="number"]{
    display: inline-block;
}

label{
    display: block;
}